@media only screen and (max-aspect-ratio: 16/11) {
    body {
        overflow: auto;
    }

    .container {
        flex-direction: column;
    }

    #main-menu {
        flex-wrap: wrap;
        min-height: fit-content;
    }

    #products {
        min-width: fit-content;
        flex-direction: column;
    }
}
