{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ورود | فروشگاه اینترنتی پشمک شاپ</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/icon type">
    <link href="{% static 'css/font.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/user-panel.css' %}" rel="stylesheet">
</head>
<body id="user-panel">
<div id="main-window">
    <div id="main-menu">
        <div id="menu-items">
            <div id="menu-shop-item" class="menu-item">
                <img id="menu-shop-logo-item" src="{% static 'img/logo.png' %}" alt="لوگو">
                <div>پشمک شاپ</div>
            </div>
            <div class="menu-item"><a href = "/">صفحه اصلی</a></div>
            <div class="menu-item"><a href = "/#product-items-container"> محصولات</a></div>
            <div class="menu-item">پشتیبانی</div>
            <div class="menu-item">تماس با ما</div>
        </div>
        <div id="menu-user">
            <div id="menu-user-button" class="unauthorized">
                ورود / ثبت نام
            </div>
        </div>
    </div>
    <div id="user-panel-container">
        <div id="panel-header" class="awesome-title">
            فروشگاه - ورود
        </div>
        <div id="user-panel-login" class="user-panel-contents">
            <form action = "login" method = "POST">
                {% csrf_token %}
                <div class="user-panel-item">
                    <label for="email" class="user-panel-label">ایمیل</label>
                    <input id="email" name="email" class="user-panel-input english-text" type="email" placeholder="example@pashmak.com">
                </div>
                <div class="user-panel-item">
                    <label for="password" class="user-panel-label">رمز عبور</label>
                    <input id="password" name= "password" class="user-panel-input english-text" type="password" placeholder="password">
                </div>
                <p id="message"></p>
        </div>
                <div id="user-panel-button">
                    <button class="awesome-button" type = "submit">ورود</button>
                </div>
            </form>
    </div>
    <div id="footer">تمامی حقوق برای توسعه دهندگان، شیرین عبادی و سامان حسینی، محفوظ است.</div>
	<div id="modal-container" class="modal">
		<div id="modal-content" class="modal-content">
			<button class="close" >&times;</button>
		</div>
	</div>
</div>
<script src="{% static 'js/login-validation.js' %}"></script>
</body>
</html>